In [12]:
import pandas as pd
import numpy as np

# Pr√©-processamento

In [13]:
df = pd.read_csv('student_math_clean.csv')
df

,student_id,school,sex,age,address_type,family_size,parent_status,mother_education,father_education,mother_job,...,family_relationship,free_time,social,weekday_alcohol,weekend_alcohol,health,absences,grade_1,grade_2,final_grade
0,1,GP,F,18,Urban,Greater than 3,Apart,higher education,higher education,at_home,...,4,3,4,1,1,3,6,5,6,6
1,2,GP,F,17,Urban,Greater than 3,Living together,primary education (4th grade),primary education (4th grade),at_home,...,5,3,3,1,1,3,4,5,5,6
2,3,GP,F,15,Urban,Less than or equal to 3,Living together,primary education (4th grade),primary education (4th grade),at_home,...,4,3,2,2,3,3,10,7,8,10
3,4,GP,F,15,Urban,Greater than 3,Living together,higher education,5th to 9th grade,health,...,3,2,2,1,1,5,2,15,14,15
4,5,GP,F,16,Urban,Greater than 3,Living together,secondary education,secondary education,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,391,MS,M,20,Urban,Less than or equal to 3,Apart,5th to 9th grade,5th to 9th grade,services,...,5,5,4,4,5,4,11,9,9,9
391,392,MS,M,17,Urban,Less than or equal to 3,Living together,secondary education,primary education (4th grade),services,...,2,4,5,3,4,2,3,14,16,16
392,393,MS,M,21,Rural,Greater than 3,Living together,primary education (4th grade),primary education (4th grade),other,...,5,5,3,3,3,3,3,10,8,7
393,394,MS,M,18,Rural,Less than or equal to 3,Living together,secondary education,5th to 9th grade,services,...,4,4,1,3,4,5,0,11,12,10
394,395,MS,M,19,Urban,Less than or equal to 3,Living together,primary education (4th grade),primary education (4th grade),other,...,3,2,3,3,3,5,5,8,9,9

In [14]:
df = df.drop(
    columns=[
        'student_id',
        'age',
        # 'sex',
        # 'address_type',
        'mother_job',
        'father_job',
        'school_choice_reason',
        'guardian',
        'romantic_relationship',
        # 'mother_education',
        # 'father_education',
        # 'travel_time',
        # 'nursery_school',
        # 'grade_1',
        # 'grade_2',
    ]
)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   school               395 non-null    object
 1   sex                  395 non-null    object
 2   address_type         395 non-null    object
 3   family_size          395 non-null    object
 4   parent_status        395 non-null    object
 5   mother_education     395 non-null    object
 6   father_education     395 non-null    object
 7   travel_time          395 non-null    object
 8   study_time           395 non-null    object
 9   class_failures       395 non-null    int64
 10  school_support       395 non-null    object
 11  family_support       395 non-null    object
 12  extra_paid_classes   395 non-null    object
 13  activities           395 non-null    object
 14  nursery_school       395 non-null    object
 15  higher_ed            395 non-null    object
 16  internet_access      395 non-null    object
 17  family_relationship  395 non-null    int64
 18  free_time            395 non-null    int64
 19  social               395 non-null    int64
 20  weekday_alcohol      395 non-null    int64
 21  weekend_alcohol      395 non-null    int64
 22  health               395 non-null    int64
 23  absences             395 non-null    int64
 24  grade_1              395 non-null    int64
 25  grade_2              395 non-null    int64
 26  final_grade          395 non-null    int64
dtypes: int64(11), object(16)
memory usage: 83.4+ KB

In [15]:
df['school'] = df['school'].map({'GP': 1, 'MS': 2})
df['sex'] = df['sex'].map({'F': 1, 'M': 2})
df['address_type'] = df['address_type'].map({'Urban': 1, 'Rural': 2})
df['family_size'] = df['family_size'].map({'Less than or equal to 3': 1, 'Greater than 3': 2})
df['parent_status'] = df['parent_status'].map({'Living together': 1, 'Apart': 2})
df['mother_education'] = df['mother_education'].map({'none': 0, 'primary education (4th grade)': 1, 'secondary education': 2, '5th to 9th grade': 3, 'higher education': 4})
df['father_education'] = df['father_education'].map({'none': 0, 'primary education (4th grade)': 1, 'secondary education': 2, '5th to 9th grade': 3, 'higher education': 4})
df['travel_time'] = df['travel_time'].map({'<15 min.': 1, '15 to 30 min.': 2, '30 min. to 1 hour': 3, '>1 hour': 4})
df['study_time'] = df['study_time'].map({'<2 hours': 1, '2 to 5 hours': 2, '5 to 10 hours': 3, '>10 hours': 4})
df['school_support'] = df['school_support'].map({'yes': 1, 'no': 0})
df['family_support'] = df['family_support'].map({'yes': 1, 'no': 0})
df['extra_paid_classes'] = df['extra_paid_classes'].map({'yes': 1, 'no': 0})
df['activities'] = df['activities'].map({'yes': 1, 'no': 0})
df['nursery_school'] = df['nursery_school'].map({'yes': 1, 'no': 0})
df['higher_ed'] = df['higher_ed'].map({'yes': 1, 'no': 0})
df['internet_access'] = df['internet_access'].map({'yes': 1, 'no': 0})
df.isna().sum()

school                 0
sex                    0
address_type           0
family_size            0
parent_status          0
mother_education       0
father_education       0
travel_time            0
study_time             0
class_failures         0
school_support         0
family_support         0
extra_paid_classes     0
activities             0
nursery_school         0
higher_ed              0
internet_access        0
family_relationship    0
free_time              0
social                 0
weekday_alcohol        0
weekend_alcohol        0
health                 0
absences               0
grade_1                0
grade_2                0
final_grade            0
dtype: int64

In [16]:
features = [col for col in df.columns if col != 'final_grade']

X = df[features].values
y = df['final_grade'].values

# Modelagem

In [17]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.preprocessing import PolynomialFeatures

In [18]:
lin_reg_model = LinearRegression()

poly = PolynomialFeatures(degree=3)
X_poly = poly.fit_transform(X)
poly_reg_model = LinearRegression()

lasso_reg_model = Lasso(alpha=0.1)

ridge_reg_model = Ridge(alpha=0.1)

elastic_reg_model = ElasticNet(alpha=0.1, l1_ratio=0.5)

# Avalia√ß√£o dos modelos

In [19]:
from sklearn.model_selection import cross_validate
from sklearn.model_selection import KFold

In [20]:
kf = KFold(n_splits=10, shuffle=True, random_state=42)

In [21]:
metrics = ['neg_mean_absolute_error', 'neg_mean_squared_error', 'r2']

# M√©tricas de avalia√ß√£o do modelo de regress√£o linear
lin_reg_model_metrics = cross_validate(lin_reg_model, X, y, cv=kf, scoring=metrics)

mae_lin_reg_model = -lin_reg_model_metrics['test_neg_mean_absolute_error'].mean().round(2)
mse_lin_reg_model = -lin_reg_model_metrics['test_neg_mean_squared_error'].mean().round(2)
r2_lin_reg_model = lin_reg_model_metrics['test_r2'].mean().round(2)

# M√©tricas de avalia√ß√£o do modelo de regress√£o polinomial
poly_reg_model_metrics = cross_validate(poly_reg_model, X_poly, y, cv=kf, scoring=metrics)

mae_poly_reg_model = -poly_reg_model_metrics['test_neg_mean_absolute_error'].mean().round(2)
mse_poly_reg_model = -poly_reg_model_metrics['test_neg_mean_squared_error'].mean().round(2)
r2_poly_reg_model = poly_reg_model_metrics['test_r2'].mean().round(2)

# M√©tricas de avalia√ß√£o do modelo de regress√£o LassoLars
lasso_reg_model_metrics = cross_validate(lasso_reg_model, X, y, cv=kf, scoring=metrics)

mae_lasso_reg_model = -lasso_reg_model_metrics['test_neg_mean_absolute_error'].mean().round(2)
mse_lasso_reg_model = -lasso_reg_model_metrics['test_neg_mean_squared_error'].mean().round(2)
r2_lasso_reg_model = lasso_reg_model_metrics['test_r2'].mean().round(2)

# M√©tricas de avalia√ß√£o do modelo de regress√£o Ridge
ridge_reg_model_metrics = cross_validate(ridge_reg_model, X, y, cv=kf, scoring=metrics)

mae_ridge_reg_model = -ridge_reg_model_metrics['test_neg_mean_absolute_error'].mean().round(2)
mse_ridge_reg_model = -ridge_reg_model_metrics['test_neg_mean_squared_error'].mean().round(2)
r2_ridge_reg_model = ridge_reg_model_metrics['test_r2'].mean().round(2)

# M√©tricas de avalia√ß√£o do modelo de regress√£o ElasticNet
elastic_reg_model_metrics = cross_validate(elastic_reg_model, X, y, cv=kf, scoring=metrics)

mae_elastic_reg_model = -elastic_reg_model_metrics['test_neg_mean_absolute_error'].mean().round(2)
mse_elastic_reg_model = -elastic_reg_model_metrics['test_neg_mean_squared_error'].mean().round(2)
r2_elastic_reg_model = elastic_reg_model_metrics['test_r2'].mean().round(2)

In [22]:
print('Linear Regression Model')
print(f'MAE: {mae_lin_reg_model}')
print(f'MSE: {mse_lin_reg_model}')
print(f'R2: {r2_lin_reg_model}')

print('\nPolynomial Regression Model')
print(f'MAE: {mae_poly_reg_model}')
print(f'MSE: {mse_poly_reg_model}')
print(f'R2: {r2_poly_reg_model}')

print('\nLassoLars Regression Model')
print(f'MAE: {mae_lasso_reg_model}')
print(f'MSE: {mse_lasso_reg_model}')
print(f'R2: {r2_lasso_reg_model}')

print('\nRidge Regression Model')
print(f'MAE: {mae_ridge_reg_model}')
print(f'MSE: {mse_ridge_reg_model}')
print(f'R2: {r2_ridge_reg_model}')

print('\nElasticNet Regression Model')
print(f'MAE: {mae_elastic_reg_model}')
print(f'MSE: {mse_elastic_reg_model}')
print(f'R2: {r2_elastic_reg_model}')

Linear Regression Model
MAE: 1.27
MSE: 3.87
R2: 0.81

Polynomial Regression Model
MAE: 4.74
MSE: 90.28
R2: -4.92

LassoLars Regression Model
MAE: 1.16
MSE: 3.66
R2: 0.82

Ridge Regression Model
MAE: 1.27
MSE: 3.87
R2: 0.81

ElasticNet Regression Model
MAE: 1.17
MSE: 3.66
R2: 0.82